.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Розтягує додаток на всю висоту екрана */
}

/* Це гарантує, що Main займе весь вільний простір між хедером і футером */
main {
  flex: 1;
}